modules = ["nodejs-20", "python-base-3.13"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[userenv]

[userenv.shared]
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME = "dbj6koi4f"
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET = "JobConnect-upload"
